.recherche__btn {
  padding: 0.99rem 0.8rem;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}



/**/

@media only screen and (max-width: 768px) {


  #ic_search {
    fill: #fff;
  }
}
